@import "bootstrap";
@import './actiontext.scss';

.form-control.is-invalid{ background-image: none; }
.form-control.is-valid{ background-image: none; } 

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}
#sticky-footer {
  flex-shrink: none;
}